.choice {
	background-color: rgb(225, 224, 224);
	margin-left: 7%;
	margin-top: 10%;
	height: 60%;
	font-size: medium;
	padding: 3%;
	margin-right: 7%;
	text-align: center;
}

.selected{
	background-color: rgb(210, 210, 210);;
	margin-left: 7%;
	margin-top: 10%;
	height: 70%;
	font-size: medium;
	font-weight: 500;
	padding: 3%;
	margin-right: 7%;
	text-align: center;
}

.header {
	font-size: large;
	padding-top: 7%;
	font-weight:bold;
	padding-left: 5%;
}

.container {
	background-color: rgb(198, 197, 197);
	border-radius: 15px;
	margin-top: 3%;
	height: 80%;
	padding: 10px;

}

.question {
	font-size: large;
	padding-top: 5%;
	padding-left: 4%;
	margin : 1%;
	width: 80%;
}

.submit {
	background-color: rgb(225, 224, 224);
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom: 5%;
	border-radius: 25px;
	font-size: medium;
	font-weight: bold;
	padding-bottom: 2%;
	padding-top: 2%;
	margin-right: 7%;
	text-align: center;
}

.correctQ {
	background-color: #9ecd92;
	height: 80%;
}

.incorrectQ {
	background-color: #ffec8b;
	height: 80%;
}
